*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, skyblue, white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.304);
}
.container input{
    height: 40px;
    width: 300px;
    border: 2px solid black;
    outline: none;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.304);
    margin-bottom: 30px;
}
.container .search{
    width: 100px;
    height: 40px;
    background: linear-gradient(45deg, skyblue, rgb(69, 72, 215));
    border: 2px solid black;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.304);
    cursor: pointer;
    transition: 0.5s;
}
.container .search:active{
    transform: scale(0.95);
}
.container .weather{
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "city country region"
    "temp condition humidity"
    "wind pressure visibility";
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    
    padding: 20px;
}
.container .weather p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.304);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.304);
    padding: 10px 10px;
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1019px) {
    .container .weather{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "city country"
        "temp condition"
        "humidity wind"
        "pressure visibility";
    }
}
@media (max-width: 673px) {
    .container{
        height: 100%;
    }
    .container .weather{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "city"
        "country"
        "region"
        "temp"
        "condition"
        "humidity"
        "wind"
        "pressure"
        "visibility";
    }
}